body {
  font-family: helvetica, sans-serif;
  letter-spacing: 5px;
  margin: 0 auto;
  max-width: 1200px;
  background-color: #black;
  background-image: url("beige.jpg.png");
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.active {
  background-color: #brown;
}
div {
  height: 100px;
  background-size: cover;
  position: bottom;
  margin: 10px 80px 80px 80px;
  border-radius: 40px;
}
.btn-Facebook {
  background: #00acee;
  border-color: #009ad5;
}
.btn-instagram {
  background: #f5f5dc;
  border-color: black;
}
p1 {
  color: rgba(256, 256, 256, 1);
  background-color: black;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 1), rgba(0,0,0,.4));
  padding: 10px;
  text-align: center;
  line-height: 50px;
  position: bottom;
  bottom: 50px;
  margin: 0;
  height: 30px;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
}
p {
  text-align: bottom;
  line-height: 20px;
  position: top;
  color: black;
  height: 20px;
  margin: 10px 80px 10px 10px;
  border-radius: 80px;
}
p2 {
  text-decoration-color: black;
  text-align: inherit;
  line-height: 10px;
  margin: 10px 0 0 0;
}
small {
  opacity: 0;
}

h1 {
  font-family: 'Londrina Shadow', cursive;
  font-size: 100px;
  text-align: center;
  margin: 60px 0 0 0;
  color: #black;
}
h2 {
  text-align: center;
  margin: 0 0 70px 0;
  color: #black;
}
h3 {
  text-align: top;
  font-size: 20px
  line-height: 20px;
  height: 50px;
}
.contact {
    font-family: helvetica, sans-serif;
    text-align: left;
  }
