body {
  font-family: "Times New Roman", sans-serif;
  letter-spacing: 5px;
  margin: 0 auto;
  max-width: 600px;
  background-color: #232323;
  background-image: url(IMG_3027.jpg);
}
div {
  height: 200px;
  background-size: cover;
  position: relative;
  margin: 40px 0 0 0;
  border-radius: 12px;
}
p {
  color: rgba(256, 256, 256, 1);
  background-color: black;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0,0,0,.4));
  padding: 10px;
  text-align: justify;
  line-height: 28px;
  position: absolute;
  bottom: 0;
  margin: 0;
  height: 30px;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
}
small {
  opacity: 0;
}

h1 {
  font-family: 'Londrina Shadow', cursive;
  font-size: 75px;
  text-align: center;
  margin: 60px 0 0 0;
  color: #aaaaaa;
}
h2 {
  text-align: center;
  margin: 0 0 70px 0;
  color: #bbbbbb;
}
